a. far inserire all'utente 2 valori interi

In [7]:
f_num = input('Insert the first number:\n')
s_num = input('Insert the second number:\n')

Insert the first number:
10
Insert the second number:
5

b. effettuare le 4 operazione aritmetiche tra i due numeri

In [8]:
f_num = int(f_num)
s_num = int(s_num)
print('Sum: {}\nSubtraction: {}\nMultiplication: {}\nDivision: {}'.format(f_num + s_num, f_num - s_num, f_num * s_num, f_num / s_num))

Sum: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [9]:
print('Power:', str(f_num**s_num))

Power: 100000

d. effettuare il calcolo del resto della divisione tra il primo ed il secondo numero

In [10]:
print('Resto:', str(f_num%s_num))

Resto: 0

f. effettuare la divisione intera tra il primo e il secondo numero

In [11]:
print('Divisione intera:', str(f_num//s_num))

Divisione intera: 2

g. incrementare di un unità entrambi i numeri

In [12]:
f_num += 1
s_num += 1
print('f_num incremented by 1:', str(f_num))
print('s_num incremented by 1:', str(s_num))

f_num incremented by 1: 11
s_num incremented by 1: 6

h. far inserire all'utente due valori: il primo rappresenta la sua altezza (in metri)
e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...) 
i. arrotondare l'IMC precedente

In [13]:
height = float(input('Insert your height:\n'))
weight = float(input('Insert your weight:\n'))
imc = weight / height**2
print('\nIMC:', imc)

Insert your height:
1.65
Insert your weight:
65

IMC: 23.875114784205696

i. arrotondare l'IMC precedente

In [14]:
print('Rounded IMC:\n', round(imc))

Rounded IMC:
 24

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino

In [15]:
data = ['Manuel', 'Parma', '20/20/05', 'Bollate']
s_data = ' - '.join(data)
print(s_data)

Manuel - Parma - 20/20/05 - Bollate

k. visualizzare le stesse informazioni per 10 volte

In [16]:
print((s_data + '\n')*10)

Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate
Manuel - Parma - 20/20/05 - Bollate

l. assegnare il proprio nome e cognome ad una stringa

In [17]:
full_name = '{} {}'.format(data[0], data[1])
print('Name and surname:', full_name.upper())

Name and surname: MANUEL PARMA

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [18]:
print(full_name.title())

Manuel Parma

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [19]:
print('Length with space {}, length without space {}'.format(len(full_name), len(full_name) -1))

Length with space 12, length without space 11

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [20]:
vowels = ['a', 'e', 'i', 'o', 'u']
v_count = 0
for v in vowels:
    v_count += full_name.count(v)
print('Count of vowels in full_name:', v_count)

Count of vowels in full_name:  5

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [21]:
print('First 5 characters of full_name:', full_name[0:5])

First 5 characters of full_name: Manue

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [22]:
print('Last 5 characters of full_name:', full_name[-5:])

Last 5 characters of full_name: Parma

r. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [23]:
if len(full_name) % 2 == 0:
  chars = full_name[(len(full_name) - 5)//2:(len(full_name) - 5)//2 + 5]
else:
  chars = full_name[(len(full_name) - 5)/2: (len(full_name) - 5)/2 + 5]

print('Middle characters of full_name:', chars)

Middle characters of full_name: uel P

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [24]:
x_name = full_name
for v in vowels:
  x_name = x_name.replace(v, 'X')

print(x_name)

MXnXXl PXrmX